<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Cabin+Condensed:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Dosis:300,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/bundles/css")
</head>
<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav nav-centered">
                    <li><a href="">Getting Started</a></li>
                    <li><a href="">Downloads</a></li>
                    <li><a href="">Tutorials</a></li>
                    <li><a href="">Engine</a></li>
                    <li><a href="">Editor</a></li>
                    <li><a href="">Licensing</a></li>
                    <li><a href="">Services</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    
    <main class="container">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </main>

    <footer class="container">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                @RenderSection("Footer", false)
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
